html{
    font-family: 'inter',serif;
    background-image: url('/assets/media/hurst.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
header{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color: black;
    color:#fff;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    display: inline;

}
li a{

}
/* Landscape (horizontal tablet, desktop, etc. */
@media only screen and (min-width:992px){

}

/* Mobile Design */
@media only screen and (max-width: 600px){

}