html{
    font-family: 'inter',serif;
        
    color:#fff;

    background-image: url('/assets/media/hurst.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    /* background-color:  */
}

header{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color: black;
    color:#fff;

    display:flex;
    align-items: center;
}
nav{
    height: 100%;
    width:25%;
    display: flex;
    flex-direction: column;
    position:fixed;
    visibility:hidden;
    z-index: 1;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    overflow-y: hidden;
}

nav a{
    flex-shrink: 1;
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;

}

nav a:visited{
    color:#fff;
}

nav a:active{
    color:#000;
}

.nav a:hover {
    color: #000;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  background: rgba(0, 0, 0, 0);
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px 15px;
  border: none;
}

#content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display:block;
    background-color: #000;
    text-align: center; 
    /* gap: 10%; */

}

#home{
    background-color:rgba(0,0,0,0);
    color:#000;
    
}


/* Landscape (horizontal tablet, desktop, etc. */
@media only screen and (min-width:992px){

}

/* Mobile Design */
@media only screen and (max-width: 600px){
    nav a{
        /* font-size: 18px; */
    }
}