html{
    font-family: 'inter',serif;
    
    
    color:#fff;

    background-image: url('/assets/media/hurst.jpg');
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button{
    background-color: ;
}
header{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    background-color: black;
    color:#fff;
    
    display:flex;
    align-items: center;
}
nav{
    height: 100%;
    width:0;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: burlywood;
    overflow-y: hidden;
    transition: 0.3s;

}

nav a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24;
    display: block;
    transition: 0.3s;    
}

.nav a:hover {
    color: aqua;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  /* background-color: #111; */
  /* color: white; */
  padding: 10px 15px;
  border: none;
}


section{
    background-color: #000;
    text-align: center;
    padding: 15px;
    
}
/* Landscape (horizontal tablet, desktop, etc. */
@media only screen and (min-width:992px){

}

/* Mobile Design */
@media only screen and (max-width: 600px){

}